/* General Bootstrap */

html {
    font-size: 100px;
    font-weight: 400;
    font-family: "Arial", sans-serif;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
}

html.lock {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    min-height: 100vh;
    font-size: 0;
    background-color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none !important;
    -webkit-font-smoothing: antialiased;
}

*:focus {
    outline: none !important;
}

a {
    text-decoration: none;
}

b,
strong {
    font-weight: 700;
}

.font {
    * {
        font-family: inherit !important;
        font-size: inherit !important;
        line-height: inherit !important;
    }

    img {
        display: block !important;
        width: auto !important;
        height: auto !important;
        max-width: 100% !important;
    }
}

/* Loading */

.loading {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.75);

    .load {
        width: 150px;
        animation: loading 3s linear infinite;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -75px;
        margin-top: -75px;

        .loading-inner {
            stroke-dashoffset: 0;
            stroke-dasharray: 300;
            stroke-width: 10;
            stroke-miterlimit: 10;
            stroke-linecap: round;
            animation: loading-circle 2s linear infinite;
            stroke: #1a1a1a;
            fill: transparent;
        }
    }

    @keyframes loading {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes loading-circle {
        0% {
            stroke-dashoffset: 0;
        }

        100% {
            stroke-dashoffset: -600;
        }
    }
}

/* The End */
